html, body, main {
  height: 100%;
  margin: 0;
}

/*
  Header
*/

div.header-container div.left {
  display: flex;
  background-color: #091c23;
}

div.header-container {
  padding: 0;
  margin: 0;
}

ul.left-nav {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
}

.left-nav {
  height: 72px;
}

#hamburger-menu {
  display: none;
}

li.nav-item {
  padding: 1em;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 600px) {
  ul.left-nav {
    background-color: green;
    display: block;
  }

  .left-nav {
    width: 40vw;
    height: 100%;
    position: absolute;
    transform: translate(-40vw, 0);
    transition: transform 0.3s ease;
  }

  .left-nav.open {
    transform: translate(0, 0);
  }

  #hamburger-menu {
    display: flex;
  }
}
